h1 {
  text-align: center;
}
.example {
  background-color: #eee;
  width: 100%;
  height: 100%;
  border: 1px dotted black;

  /* overflow-block: scroll ;
 */
}
.background-img {
  background-image: url("https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  height: 515px;
  width: 100%;
}
